{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<body>

<h3>{{ question.title }}</h3>

<p>
  {{ question.text }}
</p>
<p>
  Asked by <a href="{% url 'user_detail' question.user.pk %}">{{ question.user}}</a> <br> <small>{{ question.timestamp}} ({{ question.timestamp | timesince }} ago)</small>
</p>

{% if user.is_authenticated %}
<form method="POST" action="{% url 'add_answer' question.pk %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      <textarea class="form-control" cols="200" id="id_text" maxlength="2000" name="text" rows="6" placeholder="Answer"></textarea>
      <br><br>
      <input type="submit" class="btn btn-md btn-primary" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Answer!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">
    </div>

  </div>
</form>
{% endif %}


<table class="table table-striped">

  <tr>
    <th></th>
    <th></th>
  </tr>
{% for answer in answers %}
  <tr>
    <td>

<form method="POST" action="{% url 'votefor' question.pk %}">
              {% csrf_token %}
              <input type="hidden" name="answer_id" value="{{ answer.pk }}">
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn btn-md btn-primary" title="votefor"><span class="glyphicon glyphicon-thumbs-up"></span></button>
</form>



            <form method="POST" action="{% url 'voteagainst' question.pk %}">
              {% csrf_token %}
              <input type="hidden" name="answer_id" value="{{ answer.pk }}">
              <input type="hidden" name="next" value="{{ request.path }}">
              <button type="submit" class="btn btn-md btn-primary" title="voteagainst"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            </form>
<small>Score:&nbsp;{{ answer.ascore }}</small>
</td>




  <td>{{ answer.text }}

  <br>
  <br><a href="{% url 'user_detail' answer.user.pk %}">- {{ answer.user }}</a><small> {{ answer.timestamp}} ({{ answer.timestamp | timesince }} ago)</small>
  <br><small>Answer Score: {{ answer.ascore }}</small>
</td>
</tr>
  {% endfor %}
</table>
<div class="text-center">
      {% bootstrap_pagination page_obj pages_to_show=5 %}
    </div>
</body>

{% endblock %}
