{% load staticfiles %}
<!DOCTYPE html>
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='paper' type='min.css' %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

<html lang="en">

<head>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Question Box{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>

 <div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'all_questions' %}">Question Box</a>
      </div>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="{% url 'all_questions' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Questions<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="divider"></li>
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'ask_question' %}">Ask A Question</a></li>
                  <li class="divider"></li>
                  {% endif %}
                  <li><a href="{% url 'all_questions' %}">All Questions</a></li>
                  <li class="divider"></li>
                </ul>
              </li>

              {% if user.is_authenticated %}

            <li>
              <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>
            <li>
              <a href="{% url 'user_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'user_login' %}">Login</a>
            </li>
            <li>
              <a href="{% url 'user_register' %}">Register</a>
            </li>
            {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <h3 class="text-muted"><span aria-hidden="true"></span>Question Box</h3>
         </div>






  <div class="container">
 {% bootstrap_messages %}



   {% block content %}
   {% endblock %}


 </div>
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <br>
        <p><font size="1">&copy;2015 Tyler Kotkin, Karthik Kasala and Jermaine Kee</font></p>
      </div>
    </div>
  </div>
</footer>


</html>
